header h1, header h3 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 22px;
}

header p {
    color: aliceblue;
    background-color: rgba(153,153,153, 0.7);
    margin-bottom: 0%;
    margin-top: 0%;
}


section { /*p, h2?¿*/
    color: aliceblue;
    text-align: left;
}


/* FONDO VIDEO */
.contenido__video{
    background: #000000;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
   }
   
   /* Estilos para la etiqueta "video" con la calse (.video)  */
   .video{
    position: absolute;
    max-width: 300%;
    width: 100%;
   }
   
   /* media queries (personalizarlo a su antojo)*/
   @media(max-width: 900px){
    .video{
     width: 150%;
    }
   }
   @media(max-width: 650px){
    .video{
     width: 280%;
    }
   }
   @media(max-width: 480px){
    .video{ 
     width: 300%;
    }
   }
   
   /*-------------------------*/

   /* //25/11 */
   section article{
       background-color: rgba(153,153,153, 0.5);
       width : 33%;
       float : center;/* left*/
       border : 2px solid black;
       margin: 15px;
       padding: 10px;
       min-height: 80px;
    }


/* modificacion en css para li, selecciona todo el section*/
/* poner un div adentro para las imagenes */


/* Cascade Style Sheet */